.productCard {
    border: rgb(225, 224, 224) solid 1px;
    padding: 1rem 1rem 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.productCard div {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.productCard img {
    width: 30%;
    align-self: center;
    margin: 0 0 2rem 0;
}